.advantages {
  background-color: $texture-color;
}

.advantages__header {
  @include page-padding;
  padding-top: 40px;
  background-color: #ffffff;
  border-bottom: solid 1px #ffffff;
}

.advantages__intro {
  @include font-settings(24px, 29px, 300);
  @include indent-zero;
  color: $base-color;
  margin-bottom: 30px;

  br {
    display: none;
  }
}

.advantages__wrapper {
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 1200px 95px;
}

.advantages__list {
  @include list-none;
  @include page-padding;
  margin: 0;
  padding-top: 81px;

  &::after {
    content: "";
    display: inline-block;
    width: 157px;
    height: 278px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 157px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }
}

.advantages__item {
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 40px;
  }
}

.advantages__caption {
  @include font-settings(18px, 24px, bold);
  color: #000000;
  margin-top: 0;
  margin-bottom: 12px;
}

.advantages__description {
  @include font-settings(14px, 24px, normal);
  @include indent-zero;
  color: $base-color;
}

.advantages__effect {
  display: none;
}

@media (min-width: 320px) and (max-width: $tablet-width - 1) {
  .advantages__list {
    max-width: 430px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .advantages__header {
    padding-top: 49px;
    padding-bottom: 50px;
  }

  .advantages__intro {
    @include font-settings(40px, 48px, 300);
    margin-bottom: 0;

    br {
      display: inline;
    }
  }

  .advantages__wrapper {
    @include page-padding;
    display: flex;

    &::before {
      content: "";
      align-self: center;
      height: 481px;
      width: 268px;
      margin: 0 auto;
      margin-right: 40px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      background-size: 268px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 69px 0 0;
    width: 50%;

    &::after {
      display: none;
    }
  }

  .advantages__item {
    min-height: 108px;
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 19px;
    }
  }

  .advantages__caption {
    text-align: left;

    &--day {
      @include font-settings(30px, 36px, bold);
      margin-bottom: 10px;
    }

    br {
      display: inline;
    }
  }

  .advantages__description {
    text-align: left;

    &--science {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .advantages__effect {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 60px 20px 63px;
  }

  .advantages__logo {
    padding-top: 55px;
    margin-right: 70px;
    margin-left: auto;
    width: 238px;
    height: 276px;
    box-sizing: border-box;

    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 238px auto;
  }

  .advantages__clock {
    position: relative;
    margin: 0 auto;
    width: 202px;
    height: 202px;
    box-sizing: border-box;
    border: solid 14px $insistent-color;
    border-radius: 50%;

    &::after {
      @include font-settings(96px, 149px, bold);
      color: $insistent-color;
      content: "24";
      position: absolute;
      top: 8px;
      left: 31px;
    }
  }

  .advantages__study {
    height: 100%;
    min-width: 50%;
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
  }

  .advantages__link {
    @include font-settings(14px, 24px, normal);
    display: block;
    text-align: left;
    color: $insistent-color;
  }
}

@media (min-width: $desktop-width) {
  .advantages__intro {
    @include font-settings(50px, 59px, 300);
  }

  .advantages__header {
    padding-top: 69px;
    padding-bottom: 74px;
  }

  .advantages__wrapper {
    display: flex;
    background-size: 100%;
    padding: 0;

    &::before {
      display: none;
    }
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto 39px;
    padding: 0 10px;
    width: 960px;
    box-sizing: border-box;
  }

  .advantages__item {
    min-height: 108px;
    width: 305px;
    max-width: 313px;
    flex-grow: 1;
    margin-bottom: 0;
    padding: 0 36px;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
      padding-right: 30px;
      padding-left: 42px;
    }

    &:nth-child(3n+1) {
      margin-right: 0;
      padding-right: 42px;
      padding-left: 30px;
    }

    &:nth-child(n+4) {
      margin-top: 40px;
    }

    &:first-child::before,
    &:nth-child(2)::before,
    &:nth-child(3)::before {
      content: "";
      display: block;
      height: 302px;
      width: 240px;
      margin: 0 auto;
      margin-bottom: 56px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 292px auto;
    }

    &:first-child::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    &:nth-child(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    &:nth-child(3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &:first-child::before {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }

      &:nth-child(2)::before {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }

      &:nth-child(3)::before {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .advantages__caption {
    @include font-settings(30px, 30px, bold);
    text-align: center;
    margin-bottom: 24px;

    &--day {
      @include font-settings(30px, 36px, bold);
      text-align: left;
      margin-bottom: 21px;
    }

    br {
      display: none;
    }
  }

  .advantages__description {
    @include font-settings(18px, 30px, normal);
    text-align: center;

    &--science {
      margin-bottom: 30px;
      text-align: left;
      width: 100%;
    }
  }

  .advantages__wrap {
    @include page-padding(10px);
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .advantages__effect {
    display: flex;
    align-items: center;
    background-color: $texture-color;
    padding: 27px 0 67px;
  }

  .advantages__logo {
    margin-left: 0;
    margin-right: 67px;
    padding-top: 70px;
    width: 298px;
    height: 345px;
    background-size: 298px auto;
  }

  .advantages__clock {
    margin: 0 auto;
    width: 253px;
    height: 253px;
    border-width: 17px;

    &::after {
      @include font-settings(120px, 187px, bold);
      content: "24";
      left: 40px;
    }
  }

  .advantages__study {
    height: 100%;
    min-width: 530px;
    margin-left: 0;
    margin-right: 20px;
    padding-top: 43px;
  }

  .advantages__link {
    @include font-settings(18px, 30px, normal);
  }
}
