.button-act {
  @include font-settings(18px, 18px, bold);
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 0;
  box-sizing: border-box;
  max-width: 300px;
  width: 280px;
  height: 55px;
  border: solid 3px;
  border-radius: 50px;

  &--download {
    color: #ffffff;
    border-color: #ffffff;

    &:hover {
      background-color: #ffffff;
      color: $insistent-color;
    }

    &:active {
      color: rgba(210, 40, 86, 0.3);
    }
  }

  &--post {
    color: $insistent-color;
    border-color: $insistent-color;
    background-color: $texture-color;

    &:hover {
      background-color: $insistent-color;
      color: #ffffff;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--cancel {
    color: $base-color;
    border-color: $base-color;
    background-color: $texture-color;
    opacity: 0.1;

    &:hover {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.3;
      background-color: $base-color;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .button-act {
    &--download {
      width: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .button-act {
    &--download {
      font-size: 21px;
    }
  }
}
