/* Управление видимостью */

/* Текст виден всегда */

.logo__text {
  display: inline;
}

/* Очки видны всегда, но в шапке они прозрачные и задвинуты */

.logo__glasses {
  display: inline;
}

.logo--header {
  fill: transparent;
}

.logo--header .logo__container {
  transform: translate(-66px,-11px);
}

/* В шапке на планшете вместо прозрачности очки получают цвет и выдвигаются обратно */

@media (min-width: 660px) {
  .logo--header {
      fill: #ffffff;
  }

  .logo--header .logo__container {
      transform: translate(0);
  }
}

/* Очки подо звёзды, одиночная звезда и группа звёзд изначально не видны */

.logo__glasses-sparkles {
  display: none;
}

.logo__sparkle {
  display: none;
}

.logo__sparkles {
  display: none;
}

/* Показываем их только на десктопе, а  */

@media (min-width: 1200px) {
  .logo__glasses-sparkles {
      display: inline;
  }

  .logo__sparkle {
      display: inline;
  }

  .logo__sparkles {
      display: inline;
  }

  .logo__glasses {
      display: none;
  }
}

/* Управление цветом */

/* Изначально в шапке текст — белый, очки — прозрачные */

.logo--header {
  color: #ffffff;
  fill: transparent;
}

/* Изначально в подвале текст — чёрный, очки — красные */

.logo--footer {
  color: #000000;
  fill: #d22856;
}

/* На планшете в шапке текст — белый, очки — белые */
/* На планшете в подвале текст — чёрный, очки — красные  */

@media (min-width: 660px) {
  .logo--header {
      fill: #ffffff;
  }

  .logo--header .logo__container {
      transform: translate(0);
  }
}

/* На компьютере в шапке текст — белый, очки для блёсток — белые,
единичная блёстка — красная, группа блёсток — красная */

/* На компьютере в подвале текст — чёрный, очки для блёсток — красные,
единичная блёстка — красная, группа блёсток — чёрная */

@media (min-width: 1200px) {
  .logo--header {
      color: #ffffff;
      fill: #d22856;
  }

  .logo--footer {
      color: #000000;
      fill: #d22856;
  }

  .logo__use-footer {
    color: #d22856;
    fill: #000000;
  }
}

.logo[href]:hover {
  color: #d22856;
}

.logo[href]:active {
  color: #ffffff;
  opacity: 0.3;
}

.logo--footer[href]:active {
  color: #000000;
  opacity: 0.3;
}
