.social-list {
  @include list-none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 179px;
}

.social-list__item {
  width: 51px;
  height: 51px;
  box-sizing: border-box;
  border: solid 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-right: 12px;
  background-color: #ffffff;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(n+4) {
    margin-top: 12px;
  }

  &:hover {
    border-color: #000000;
  }

  &:active {
    border-color: rgba(0, 0, 0, 0.1);
  }
}

.social-list__btn {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &:active {
    opacity: 0.3;
  }

  &--tw {
    background-image: url("../img/icon-twitter.svg");
    background-size: 18px 14px;
  }

  &--fb {
    background-image: url("../img/icon-facebook.svg");
    background-size: 9px 18px;
  }

  &--ytb {
    background-image: url("../img/icon-youtube.svg");
    background-size: 15px 13px;
    background-position: 55%;
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    padding-right: 12px;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    padding-right: 0;
  }
}
