.header-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  @include mobile-container();
  padding: 0;

  background-color: rgba(0, 0, 0, 0.3);
}

.header-main__top {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--opened {
    background-color: #283645;

    .header-main__button-burger {
      display: none;
    }

    .header-main__button-cross {
      display: initial;
    }
  }
}

.header-main__logo-link {
  margin-left: 20px;
}

.header-main__logo-image {
  display: block;
  width: 75px;
  height: 22px;
}

.header-main__button {
  width: 50px;
  height: 24px;
  padding: 0;
  margin-right: 20px;

  background-color: transparent;

  border: none;
  fill: white;
}

.header-main__button-burger {
  width: 50px;
  height: 24px;
}

.header-main__button-cross {
  display: none;

  width: 24px;
  height: 24px;
}

.header-main__navigation {
  display: none;

  &--opened {
    display: initial;

    background-color: #283645;

    .header-main {
      position: relative;
      bottom: -66px;
    }

    .header-main__menu-list {
      background-color: #283645;
    }
  }
}

.header-main__menu-list {
  @include list-reset();
}

.header-main__menu-item {
  height: 62px;

  color: white;
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  line-height: 62px;
  vertical-align: middle;

  text-align: center;
  text-transform: uppercase;

  border-top: 1px solid black;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}

.header-main__menu-link {
  text-decoration: none;
  color: white;

  &--active {
    border-bottom: 2px solid white;
  }
}

.header-main__menu-link:hover {
  color: #d22856;
}

.header-main__menu-link:active {
  color: white;
  opacity: 0.3;
}

@media (min-width: 660px) {
  .header-main {
    @include tablet-container();
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .header-main {
    @include desktop-container();
    padding: 0;
  }
}
