.section-feedback {
  @include mobile-container();
  margin-top: 47px;
}

.section-feedback__blockquote {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.section-feedback__text {
  order: 2;

  margin: 0;
  margin-top: 18px;

  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

.section-feedback__cite {
  font-style: normal;
  text-align: center;
}

.section-feedback__author-name {
  margin: 0;

  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
}

.section-feedback__author-occupation {
  display: none;
  margin: 0;

  font-size: 14px;
}

@media (min-width: 660px) {
  .section-feedback__author-occupation {
    display: initial;
  }
}

.section-feedback__button-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;

  @include list-reset();

  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

.section-feedback__button-input + .section-feedback__button-label {
  display: block;
  height: 6px;
  width: 6px;

  border: solid 3px #283645;
  border-radius: 50%;
  opacity: 0.3;
}

.section-feedback__button-input:checked + .section-feedback__button-label {
  display: block;
  height: 12px;
  width: 12px;

  border: solid 3px #283645;
  border-radius: 50%;
  opacity: 1;
}

@media (min-width: 660px) {
  .section-feedback {
    @include tablet-container();
  }

  .section-feedback__text {
    order: initial;
  }

  .section-feedback__blockquote {
    max-width: 630px;
    margin: 0 auto 30px;
  }
}

@media (min-width: 1200px) {
  .section-feedback {
    position: relative;
    @include desktop-container();

    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center top;
  }

  .section-feedback::before {
    position: absolute;
    top: 50px;
    left: 0;

    width: 22px;
    height: 41px;

    background-image: url("../img/icon-review-arrow-left.svg");

    content: "";
  }

  .section-feedback::after {
    position: absolute;
    top: 50px;
    right: 0;

    width: 22px;
    height: 41px;

    background-image: url("../img/icon-review-arrow-right.svg");

    content: "";
  }
}
