.section-advantages {
  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
}

.section-advantages__title-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: white;
}

.section-advantages__heading {
  display: block;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 33px;

  font-family: "Open Sans Light", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #283645;
  text-align: center;
}

.section-advantages__list-container {
  position: relative;

  padding-top: 82px;

  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center -30px;
  background-clip: border-box;
}

.section-advantages__list-container::after {
  content: "";
  display: block;
  height: 287px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 10px;
}

.section-advantages__list {
  display: flex;
  flex-direction: column;
  @include list-reset();
  margin: 0 auto;
  max-width: 280px;

  background-color: #f2f2f2;
}

.section-advantages__item-title {
  margin-top: 0;
  margin-bottom: 13px;

  text-align: center;
  font-size: 18px;
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  color: black;
  line-height: 24px;
}

.section-advantages__item-text {
  margin-top: 13px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: 660px) {

}

@media (min-width: 1200px) {

}
