.section-contacts {
  @include mobile-container();
  margin-top: 57px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 100;
  line-height: 34px;
}

.section-contacts__heading {
  font-size: 24px;
  font-family: "Open Sans Light", "Arial", "Helvetica", sans-serif;
  text-align: center;
  line-height: 30px;
  color: #283645;
}

.section-contacts__list {
  @include list-reset();
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-contacts__item {
  margin-top: 10px;
}

.section-contacts__small-heading {
  margin: 0;
  font-size: 18px;
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  text-align: center;
}

.section-contacts__link {
  display: block;
  color: #d22856;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 660px) {
  .section-contacts {
    @include tablet-container();
  }

  .section-contacts__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section-contacts__item {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .section-contacts {
    @include desktop-container();
  }

  .section-contacts__item {
    width: 33.3%;
  }

  .section-contacts__item:nth-of-type(2) {
    order: 2;
  }
}
